@import "../../scss/variables";

.login-button {
  min-height: 22px;
  margin: 0;
  padding: 0;
  padding-left: 32px;

  font-size: 16px;
  line-height: 19px;
  color: inherit;

  background-color: transparent;
  background-image: url("../../assets/img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 20px 22px;
  border: none;
  cursor: pointer;

  &:hover {
    color: $accent;

    background-image: url("../../assets/img/login-hover.svg");
  }

  &:active {
    opacity: 0.5;
  }
}

.login-button--mobile {
  width: 22px;
  height: 22px;
  padding: 0;
  padding-left: 30px;

  background-position: right 0 center;
  background-size: 14px 16px;

  .login-button__content {
    font-size: 0;
  }
}

@media (min-width: $tablet-width) {
  .login-button {
    width: 20px;
    height: 22px;
    padding: 0;

    .login-button__content {
      font-size: 0;
    }
  }

  .login-button--mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .login-button {
    width: auto;
    height: auto;
    padding-left: 32px;

    .login-button__content {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .login-button--mobile {
    display: none;
  }
}

@media (min-width: 1095px) {
  .login-button {
    .login-button__content {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
